<%= form_for(config) do |f| %>
  <% if config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(config.errors.count, "error") %> prohibited this config from being saved:</h2>

      <ul>
      <% config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :config_template_id %>
    <%= f.collection_select :config_template_id, ConfigTemplate.all, :id, :name, :prompt => "Select a template" %>
  </div>

  <div class="field">
    <%= f.label :system_name %>
    <%= f.text_field :system_name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :snmp_community %>
    <%= f.text_field :snmp_community %>
  </div>

  <div class="field">
    <%= f.label :snmp_address %>
    <%= f.text_field :snmp_address %>
  </div>

  <div class="field">
    <%= f.label :snmp_contact %>
    <%= f.text_field :snmp_contact %>
  </div>

  <div class="field">
    <%= f.label :snmp_location %>
    <%= f.text_field :snmp_location %>
  </div>

  <fieldset>
    <table>
    <%= f.fields_for :interfaces do |q| %>
      <tr>
        <td><%= "ether#{q.index + 1}" %></td>
        <%= q.hidden_field :name, :value => "ether#{q.index + 1}" %>
        <td><%= q.label :interface_type %></td>
        <td><%= q.select :interface_type, Interface::TYPE, :prompt => "Select interface type" %></td>
        <td><%= q.label :ip %></td>
        <td><%= q.text_field :ip %></td>
        <td><%= q.label :subnet %></td>
        <td><%= q.text_field :subnet %></td>
        <td><%= q.label :gateway %></td>
        <td><%= q.text_field :gateway %></td>
        <td><%= q.label :username %></td>
        <td><%= q.text_field :username %></td>
        <td><%= q.label :password %></td>
        <td><%= q.text_field :password %></td>
      </tr>
    <% end %>
    </table>
  </fieldset>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
