<p id="notice"><%= notice %></p>

<p>
  <strong>System name:</strong>
  <%= @config.system_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @config.password %>
</p>

<p>
  <strong>Snmp community:</strong>
  <%= @config.snmp_community %>
</p>

<p>
  <strong>Snmp address:</strong>
  <%= @config.snmp_address %>
</p>

<p>
  <strong>Snmp contact:</strong>
  <%= @config.snmp_contact %>
</p>

<p>
  <strong>Snmp location:</strong>
  <%= @config.snmp_location %>
</p>

<%= link_to 'Edit', edit_config_path(@config) %> |
<%= link_to 'Back', configs_path %>
