<p id="notice"><%= notice %></p>

<p>
  <strong>System name:</strong>
  <%= @config.system_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @config.password %>
</p>

<p>
  <strong>Snmp community:</strong>
  <%= @config.snmp_community %>
</p>

<p>
  <strong>Snmp address:</strong>
  <%= @config.snmp_address %>
</p>

<p>
  <strong>Snmp contact:</strong>
  <%= @config.snmp_contact %>
</p>

<p>
  <strong>Snmp location:</strong>
  <%= @config.snmp_location %>
</p>

<table><tr>
  <th>Name</th>
  <th>Type</th>
  <th>IP</th>
  <th>Subnet</th>
  <th>Gateway</th>
  <th>Username</th>
  <th>Password</th>
</tr>
  <% @config.interfaces.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td><%= i.interface_type %></td>
        <td><%= i.ip %></td>
        <td><%= i.subnet %></td>
        <td><%= i.gateway %></td>
        <td><%= i.username %></td>
        <td><%= i.password %></td>
      </tr>
  <% end %>
</table>
</table>

<%= link_to 'Edit', edit_config_path(@config) %> |
<%= link_to 'Back', configs_path %>
