<p id="notice"><%= notice %></p>

<h1>Interfaces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ip</th>
      <th>Subnet</th>
      <th>Gateway</th>
      <th>Username</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interfaces.each do |interface| %>
      <tr>
        <td><%= interface.name %></td>
        <td><%= interface.ip %></td>
        <td><%= interface.subnet %></td>
        <td><%= interface.gateway %></td>
        <td><%= interface.username %></td>
        <td><%= interface.password %></td>
        <td><%= link_to 'Show', interface %></td>
        <td><%= link_to 'Edit', edit_interface_path(interface) %></td>
        <td><%= link_to 'Destroy', interface, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interface', new_interface_path %>
