<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interface.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @interface.ip %>
</p>

<p>
  <strong>Subnet:</strong>
  <%= @interface.subnet %>
</p>

<p>
  <strong>Gateway:</strong>
  <%= @interface.gateway %>
</p>

<p>
  <strong>Username:</strong>
  <%= @interface.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @interface.password %>
</p>

<%= link_to 'Edit', edit_interface_path(@interface) %> |
<%= link_to 'Back', interfaces_path %>
