<!DOCTYPE html>
<html>
  <head>
    <title>IpriverMikrotikConfigGenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless controller.controller_name == 'home' %>
    <%= link_to 'back', home_index_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
